@model WebBootstart01.ViewModels.EmployeeListViewModel


@{
    Layout = null;

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MyView</title>
</head>
<body>
    <form action="/employee/search" method="post">
        <input type="text" name="searchString" value=""/>
        <input type="submit" name="搜索" />
    </form>


    <h2>@Model.Greeting,@Model.UserName</h2>
    <hr />
    <div>
        <table>
            @foreach (var item in Model.Employees)
            {
                <tr>
                    <td>@item.EmployeeName||@item.EmployeeSalary||@item.SalaryGrade
                    <a href="/employee/delete/@item.EmployeeId">  删除</a>
                    <a href="/employee/UpdateEmployee/@item.EmployeeId">修改</a>
                    </td>
                    
                </tr>
            }
        </table>
        <p>
            <a href="/employee/addNew">新增</a>
        </p>

    </div>
</body>
</html>
